:root {
    /*Colores*/
    --bitcoin-orange: #F7931A;
    --soft-orange: #FFE9D5;
    --secondary-blue: #1A9AF7;
    --soft-blue: #E7F5FF;
    --warm-black: #201E1C;
    --black: #282623;
    --grey: #BABABA;
    --off-white: #FAF8F7;
    --just-white: #FFFFFF;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html{
    scroll-behavior : smooth;
    font-size: 62.5%;
    font-family: 'DM Sans', sans-serif;
}

header {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-width: 320px;
    height: 334px;
    text-align: center;
    background: linear-gradient(207.8deg, #201E1C 16.69%, #F7931A 100%);
}

header img {
    width: 151px;
    height: 24px;
    margin-top: 60px; /*39*/
}

.header__contenedor-titulo {
    display: flex; /*En duda*/
    flex-direction: column;
    align-items: center;
    width: 90%;
    min-width: 288;
    max-width: 900px; 
    height: 218px;
    margin-top: 36px; /*33*/
}

.header__contenedor-titulo h1{
    font-size: 2.4rem;
    font-weight: 700;
    line-height: 2.6rem;
    color: var(--just-white)
}

.header__contenedor-titulo p {
    margin-top: 24px;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.8rem;
    color: var(--soft-orange);
}

.header__boton {
    position: absolute;
    display: block;
    bottom: -16px;
    margin-top: 35px;
    padding: 15px;
    width: 229px;
    height: 48px;
    background: var(--off-white);
    /*Sombras*/
    box-shadow: 0px 4px 8px rgba(89, 73, 30, 0.16);
    border-radius: 5px;
    font-size: 1.4rem;
    font-weight: bold;
    text-decoration: none;
    color: var(--black)
}

.header__boton span {
    display: inline-block;
    width: 13px;
    height: 8px;
    margin-left: 6px;
    background-image: url(./assets/icons/down-arrow.svg); 
}

/*MAIN*/
main {
    width: 100%;
    height: auto;
    text-align: center;
    background: var(--off-white);
}
.main-intercambio {
    width: 100%;
    height: auto;
    padding-top: 80px;
    text-align: center;
}

.main-intercambio .backgroundimg{
    width: 200px;
    height: 200px;
    margin: 0 auto;
    margin-bottom: 40px;
    background-image: url(./assets/img/Bitcoin.svg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.main-intercambio__titulo {
    width: 90%;
    min-width: 288px;
    max-width: 900px;
    margin: 0 auto;
}

.main-intercambio__titulo h2 {
    font-size: 2.4rem;
    font-weight: bold;
    line-height: 2.6rem;
    color: var(--warm-black);
}

.main-intercambio__titulo p{
    margin-top: 24px;
    margin-bottom: 40px;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.8rem;
    color: #757575;
}

/*seccion de Intercambio TABLAS*/
.main-intercambio__tablas {
    display: flex;
    overflow-x: auto;
    overscroll-behavior-x: contain;
    scroll-snap-type: x proximity;
    height: 385px;
}

.contenedor-tabla-moneda,
.contenedor-tabla-comision {
    scroll-snap-align: center;
    width: 70%;
    min-width: 235px;
    max-width: 500px;
    height: 360px;
    margin-bottom: 18px;
    margin-left: 35px;
    font-family: 'Inter', sans-serif;
}

.contenedor-tabla-moneda__titulo,
.contenedor-tabla-comision__titulo {
    margin: 0 5px 10px;
    font-family: 'DM Sans', sans-serif;
    font-size: 1.8rem;
    font-weight: bold;
    line-height: 2.3rem;
    color: var(--bitcoin-orange);
}

.contenedor-tabla-comision__titulo {
    color: var(--secondary-blue);
}

.contenedor-tabla-moneda__tabla,
.contenedor-tabla-comision__tabla {
    width: 90%;
    min-width: 230px;
    max-width: 300px;
    height: 250px;
    margin: 0 auto;
}

.contenedor-tabla-moneda__tabla table,
.contenedor-tabla-comision__tabla table {
    width: 100%;
    height: 100%;
}

.contenedor-tabla-moneda__tabla td,
.contenedor-tabla-comision__tabla td {
    width: 50%;
    padding: 10px;
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 1.9rem;
    background-color: var(--just-white);
    color: var(--grey)
}

.contenedor-tabla-moneda__tabla .tabla--top-left
.contenedor-tabla-comision__tabla .tabla--top-left {
    border-radius: 15px 0 0 0;
}

.contenedor-tabla-moneda__tabla .tabla--top-rigth,
.contenedor-tabla-comision__tabla .tabla--top-rigth {
    border-radius: 0 15px 0 0;
}

.contenedor-tabla-moneda__tabla .table--bottom-rigth,
.contenedor-tabla-comision__tabla .table--bottom-rigth {
    border-radius: 0 0 15px 0;
}

.contenedor-tabla-moneda__tabla .table--bottom-left,
.contenedor-tabla-comision__tabla .table--bottom-left {
    border-radius: 0 0 0 15px;
}

.contenedor-tabla-moneda__tabla .tabla-rigth,
.contenedor-tabla-comision__tabla .tabla-rigth {
    font-size: 1.4rem;
    font-weight: normal;
    line-height: 1.7rem;
    color: #757575;
}

.contenedor-tabla-moneda__tabla .--trending-down {
    display: inline-block;
    width: 11px;
    height: 6px;
    margin-left: 10px;
    background-image: url(./assets/icons/trending-down.svg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.contenedor-tabla-moneda__tabla .--trending-up {
    display: inline-block;
    width: 11px;
    height: 6px;
    margin-left: 10px;
    background-image: url(./assets/icons/trending-up.svg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.contenedor-tabla-moneda__actualizacion,
.contenedor-tabla-comision__actualizacion {
    width: 180px;
    height: 35px;
    margin: 15px auto 0;
    border-radius: 8px;
    font-size: 1.2rem;
    line-height: 35px;
    color: var(--warm-black);
    background: var(--soft-orange);
}

.contenedor-tabla-comision__actualizacion {
    background: var(--soft-blue);
}

/*Seccion Beneficios*/
.main-beneficios {
    position: relative;
    width: 100%;
    min-width: 320px;
    height: auto;
    padding: 40px 16px 20px;
    background: var(--warm-black);
    color: var(--just-white);
}

.main-beneficios__batata-logo {
    position:absolute;
    top: -10px;
    left: calc(50% - 20px);
    width: 40px;
    height: 25px;
    background-image: url(./assets/icons/batata.svg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.main-beneficios__titulo {
    width: 90%;
    min-width: 288px;
    margin: 0 auto;
}

.main-beneficios__titulo h2 {
    font-size: 2.4rem;
    line-height: 2.6rem;
    font-weight: bold;
}

.main-beneficios__titulo p {
    margin-top: 24px;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.8rem;
    color: #808080;
}

.main-beneficios__cards {
    margin-top: 30px;
    text-align: left;
}

.card {
    width: 90%;
    min-width: 288px;
    max-width: 400px;
    height: 152px;
    margin: 0 auto 15px;
    padding: 15px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.16);
    border-radius: 5px;
    background: var(--black);
}

.card__icono {
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-bottom: 10px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.card__icono.clock {
    background-image: url(./assets/icons/clock.svg);
}

.card__icono.eye {
    background-image: url(./assets/icons/eye.svg);
}

.card__icono.dollar {
    background-image: url(./assets/icons/dollar-sign.svg);
}

.card__icono.check {
    background-image: url(./assets/icons/check-circle.svg);
}

.card__titulo {
    margin-bottom: 10px;
    font-size: 1.8rem;
    font-weight: bold;
    line-height: 1.8rem;
}

.card__parrafo {
    margin-bottom: 20px;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.8rem;
    color: #808080;
}

/*Seccion Comodin*/
.main-bitcoin-background {
    width: 100%;
    min-width: 320px;
    height: 60vh;
    background-image: url(./assets/img/bitcoinbaby2x.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.main-bitcoin-background h2 {
    padding-top: 64px;
    font-size: 2.4rem;
    font-weight: bold;
    line-height: 2.6rem;
    color: var(--just-white);
}

/*Seccion de planes*/
.main-planes {
    width: 100%;
    min-width: 320px;
    padding: 60px 0;
}

.main-planes__titulo {
    width: 90%;
    min-width: 288px;
    margin: 0 auto;
}

.main-planes__titulo h2 {
    font-size: 2.4rem;
    font-weight: bold;
    line-height: 2.6rem;
    color: var(--warm-black);
}

.main-planes__titulo p {
    margin-top: 24px;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.8rem;
    color: #757575;
}

.main-planes__cards {
    display: flex;
    align-items: center;
    overflow-x: auto;
    overscroll-behavior-x: contain;
    scroll-snap-type: x proximity;
    height: 300px;
    margin-top: 45px;
}

.main-planes__cards::-webkit-scrollbar {
    height: 2px;
}
.main-planes__cards::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background: var(--bitcoin-orange);
}

.card-planes {
    position: relative;
    scroll-snap-align: center;
    width: 60%;
    min-width: 190px;
    max-width: 280px;
    height: 247px;
    margin: 0 22px;
    padding: 30px 15px 22px;
    box-shadow: 0px 4px 8px rgba(89, 73, 30, 0.16);
    border-radius: 8px;
    background: var(--just-white);
}

.card-planes > p {
    position: absolute;
    top: calc(0% - 15px);
    left: calc(50% - 50.5px);
    width: 101px;
    height: 31px;
    padding: 8px;
    border-radius: 8px;
    font-family: 'Inter', sans-serif;
    font-size: 1.2rem;
    font-weight: bold;
    line-height: 1.45rem;
    background: var(--bitcoin-orange);
    color: var(--just-white);
}

.card-planes__info-contenedor {
    width: 100%;
    min-width: 158px;
}

.card-planes__titulo {
    margin-bottom: 8px;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.8rem;
    color: #000000;
}

.card-planes__precio {
    display: flex;
    justify-content: center;
    align-content: flex-start;
    font: bold 5.2rem/6rem 'Inter', 'sans serif';
    letter-spacing: -.5rem;
    color: #000000;
}

.card-planes__precio span {
    margin-right: 7px;
    padding-top: 9px;
    font: 500 1.2rem/1.45rem 'Inter', 'sans serif';
    color: #363636;
}

.card-planes__descripcion {
    margin: 15px 0;
    font: 500 1.2rem/1.4rem 'Inter', 'sans serif';
    color: #757575;
}

.card-planes__call-ac {
    width: 151px;
    height: 48px;
    border-radius: 4px;
    border: 2px solid var(--bitcoin-orange);
    font: bold 1.4rem/1.8rem 'DM Sans';
    background: var(--off-white);
    color: var(--warm-black);
}

.card-planes__call-ac span {
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-left: 5px;
    background-image: url(./assets/icons/orange-right-arrow.svg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    vertical-align: text-bottom;
}

/*Footer*/
.footer {
    display: flex;
    width: 100%;
    min-width: 320px;
    height: 150px;
    background: var(--bitcoin-orange);
}

.footer__links {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    text-align: center;
}

.link__item a {
    display: block;
    margin-bottom: 8px;
    font: 500 1.4rem/1.8rem 'DM Sans', sans-serif;
    text-decoration: none;
    color: var(--just-white);
}

.footer__links .link__item:first-child a {
    margin-right: 25px;
}

.footer__logo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
}

.footer__logo span {
    width: 64px;
    height: 50px;
    background-image: url(./assets/img/logo-footer.svg);
}